.input-area-icon {
  height: 1024px;
  flex: 1;
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.arrow-back-icon1 {
  height: 32px;
  width: 38px;
  position: absolute;
  margin: 0 !important;
  top: 25px;
  left: 147px;
  cursor: pointer;
  z-index: 1;
}
.main,
.sign-up {
  position: relative;
}
.main {
  margin-left: -946px;
  width: 830px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 830px;
  max-width: 183%;
  flex-shrink: 0;
}
.sign-up {
  margin: 0;
  flex: 1;
  font-size: inherit;
  letter-spacing: -0.25px;
  line-height: 64px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  backdrop-filter: blur(4px);
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  max-width: 100%;
}
.signup-label {
  width: 406px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl);
  box-sizing: border-box;
  max-width: 100%;
}
.label-text7 {
  flex: 1;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface-variant);
  text-align: left;
}
.label-text6 {
  width: 31px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input-text2,
.number-value {
  width: 0;
  display: flex;
  align-items: center;
}
.number-value {
  align-self: stretch;
  position: relative;
  font-size: var(--m3-body-large-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface);
  text-align: left;
}
.input-text2 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.container3,
.trailing-icon2 {
  align-items: center;
  justify-content: center;
}
.container3 {
  width: 48px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 40px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.trailing-icon2 {
  height: 48px;
  display: none;
  flex-direction: column;
}
.state-layer4 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-8xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.active-indicator2,
.text-field5 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.text-field5 {
  height: 100%;
  top: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  background-color: var(--schemes-surface-bright);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.active-indicator2 {
  height: 1px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid var(--schemes-on-surface-variant);
  box-sizing: border-box;
}
.supporting-text5 {
  height: 16px;
  flex: 1;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface-variant);
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.number-wrapper,
.supporting-text4,
.text-field4 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.supporting-text4 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  z-index: 2;
}
.number-wrapper,
.text-field4 {
  border-radius: var(--br-5xs);
  display: flex;
}
.text-field4 {
  height: 79px;
  flex: 1;
  flex-direction: column;
  position: relative;
}
.number-wrapper {
  position: absolute;
  top: 13px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #fff;
  border: 1px solid var(--schemes-shadow);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
}
.mobile-number1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.25px;
  line-height: 38px;
  font-weight: 400;
  font-family: var(--m3-label-large);
  color: var(--schemes-shadow);
  text-align: center;
  z-index: 2;
}
.number-label {
  position: absolute;
  top: 0;
  left: 12px;
  background-color: var(--schemes-on-primary);
  width: 181px;
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.number-container {
  align-self: stretch;
  height: 92px;
  position: relative;
  max-width: 100%;
}
.label-text9 {
  flex: 1;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface-variant);
  text-align: left;
}
.label-text8 {
  width: 31px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input-text3,
.input-text4 {
  width: 0;
  display: flex;
  align-items: center;
}
.input-text4 {
  align-self: stretch;
  position: relative;
  font-size: var(--m3-body-large-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface);
  text-align: left;
}
.input-text3 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.content3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.container4,
.trailing-icon3 {
  align-items: center;
  justify-content: center;
}
.container4 {
  width: 48px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 40px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.trailing-icon3 {
  height: 48px;
  display: none;
  flex-direction: column;
}
.state-layer5 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-8xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.active-indicator3,
.text-field7 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.text-field7 {
  height: 100%;
  top: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  background-color: var(--schemes-surface-bright);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.active-indicator3 {
  height: 1px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid var(--schemes-on-surface-variant);
  box-sizing: border-box;
}
.supporting-text7 {
  height: 16px;
  flex: 1;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface-variant);
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.combined-elements,
.supporting-text6,
.text-field6 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.supporting-text6 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  z-index: 2;
}
.combined-elements,
.text-field6 {
  border-radius: var(--br-5xs);
  display: flex;
}
.text-field6 {
  height: 79px;
  flex: 1;
  flex-direction: column;
  position: relative;
}
.combined-elements {
  position: absolute;
  top: 13px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #fff;
  border: 1px solid var(--schemes-shadow);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
}
.enter-otp1 {
  margin: 0;
  width: 181px;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.25px;
  line-height: 38px;
  font-weight: 400;
  font-family: var(--m3-label-large);
  color: var(--schemes-shadow);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.field-label {
  position: absolute;
  top: 0;
  left: 41px;
  background-color: var(--schemes-on-primary);
  width: 129px;
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.combined-wrapper {
  align-self: stretch;
  height: 92px;
  position: relative;
  max-width: 100%;
}
.label-text11 {
  flex: 1;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface-variant);
  text-align: left;
}
.label-text10 {
  width: 31px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.input-text5,
.input-text6 {
  width: 0;
  display: flex;
  align-items: center;
}
.input-text6 {
  align-self: stretch;
  position: relative;
  font-size: var(--m3-body-large-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface);
  text-align: left;
}
.input-text5 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.content4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  max-width: 100%;
}
.container5,
.trailing-icon4 {
  align-items: center;
  justify-content: center;
}
.container5 {
  width: 48px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 40px;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.trailing-icon4 {
  height: 48px;
  display: none;
  flex-direction: column;
}
.state-layer6 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 var(--padding-8xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.active-indicator4,
.text-field9 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.text-field9 {
  height: 100%;
  top: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  background-color: var(--schemes-surface-bright);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.active-indicator4 {
  height: 1px;
  right: 0;
  bottom: -1px;
  border-top: 1px solid var(--schemes-on-surface-variant);
  box-sizing: border-box;
}
.supporting-text9 {
  height: 16px;
  flex: 1;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-surface-variant);
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.supporting-text8,
.text-field-wrapper,
.text-field8 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.supporting-text8 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  z-index: 2;
}
.text-field-wrapper,
.text-field8 {
  border-radius: var(--br-5xs);
  display: flex;
}
.text-field8 {
  height: 79px;
  flex: 1;
  flex-direction: column;
  position: relative;
}
.text-field-wrapper {
  position: absolute;
  top: 13px;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #fff;
  border: 1px solid var(--schemes-shadow);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
}
.user-name {
  margin: 0;
  width: 181px;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.25px;
  line-height: 38px;
  font-weight: 400;
  font-family: var(--m3-label-large);
  color: var(--schemes-shadow);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.user-name-wrapper {
  position: absolute;
  top: 0;
  left: 41px;
  background-color: var(--schemes-on-primary);
  width: 129px;
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.combined-wrapper1 {
  align-self: stretch;
  height: 92px;
  position: relative;
  max-width: 100%;
}
.combined-field,
.number-input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 68px;
  max-width: 100%;
}
.number-input {
  gap: 82px;
}
.action-label {
  position: relative;
  font-size: var(--m3-label-large-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large);
  color: var(--schemes-on-primary);
  text-align: center;
  display: inline-block;
  min-width: 49px;
}
.button1,
.state-layer7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.state-layer7 {
  padding: var(--padding-base-5) 48px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--schemes-on-secondary-container);
  border-radius: var(--br-81xl);
  overflow: hidden;
}
.action,
.number-field,
.signup-label-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.action {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.number-field,
.signup-label-parent {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.number-field {
  margin: 0;
  gap: 95px;
}
.signup-label-parent {
  gap: 163px;
}
.desktop-3,
.desktop-3-inner {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.desktop-3-inner {
  width: 454px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 106px;
  min-width: 454px;
  min-height: 907px;
  max-width: 100%;
  flex-shrink: 0;
}
.desktop-3 {
  width: 100%;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--schemes-on-primary);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 144px 0 842px;
  gap: 116px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-38xl);
  color: var(--schemes-shadow);
  font-family: var(--m3-label-large);
}
@media screen and (max-width: 1425px) {
  .input-area-icon {
    flex: 1;
  }
  .desktop-3-inner,
  .main {
    flex: 1;
    min-width: 100%;
  }
  .desktop-3 {
    flex-wrap: wrap;
    padding-left: 421px;
    padding-right: 72px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .main {
    min-width: 100%;
  }
  .desktop-3-inner {
    padding-bottom: 69px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .main {
    min-width: 100%;
  }
  .sign-up {
    font-size: var(--font-size-27xl);
    line-height: 51px;
  }
  .desktop-3-inner {
    min-width: 100%;
  }
  .desktop-3 {
    gap: 58px;
    padding-left: 210px;
    padding-right: 36px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .main {
    min-width: 100%;
  }
  .sign-up {
    font-size: var(--font-size-15xl);
    line-height: 38px;
  }
  .combined-field {
    gap: 34px;
  }
  .number-input {
    gap: 41px;
  }
  .number-field {
    gap: 47px;
  }
  .signup-label-parent {
    gap: 81px;
  }
  .desktop-3-inner {
    padding-bottom: 45px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .desktop-3 {
    gap: 29px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
