.desktop-1-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  max-height: 100%;
  width: 470px;
  object-fit: cover;
  z-index: 1;
}
.frame-child,
.slogan-child {
  position: relative;
  border-radius: var(--br-21xl);
  max-width: 100%;
}
.slogan-child {
  width: 1080px;
  height: 1024px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-100);
  display: none;
}
.frame-child {
  height: 184px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.slogan-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 1px;
  box-sizing: border-box;
  max-width: 100%;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.label-text12 {
  position: relative;
  font-size: var(--m3-label-large-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large);
  color: var(--schemes-shadow);
  text-align: center;
  display: inline-block;
  min-width: 36px;
}
.extended-fab,
.state-layer8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.state-layer8 {
  flex: 1;
  padding: var(--padding-3xl-5) var(--padding-67xl);
  gap: var(--gap-xs);
}
.extended-fab {
  cursor: pointer;
  border: 1px solid var(--schemes-shadow);
  padding: 0;
  background-color: var(--schemes-surface-bright);
  width: 214px;
  box-shadow: var(--m3-elevation-light-3);
  border-radius: var(--br-base);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 80px;
  z-index: 1;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.label-text13 {
  position: relative;
  font-size: var(--m3-label-large-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large);
  color: var(--schemes-shadow);
  text-align: center;
  display: inline-block;
  min-width: 45px;
}
.state-layer9 {
  flex: 1;
  justify-content: flex-start;
  padding: var(--padding-3xl-5) 81px;
  gap: var(--gap-xs);
}
.extended-fab-container,
.extended-fab1,
.state-layer9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.extended-fab1 {
  cursor: pointer;
  border: 1px solid #f7f7f7;
  padding: 0;
  background-color: var(--schemes-surface-bright);
  width: 214px;
  box-shadow: var(--m3-elevation-light-3);
  border-radius: var(--br-base);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  mix-blend-mode: exclusion;
  min-width: 80px;
  z-index: 1;
}
.extended-fab-container {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}
.supporting-text10 {
  flex: 1;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 20px;
}
.snackbar,
.snackbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.snackbar {
  width: 344px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-100);
  justify-content: flex-start;
  padding: 14px var(--padding-base);
  white-space: nowrap;
  z-index: 1;
}
.snackbar-wrapper {
  width: 516px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.extended-fab-container-parent {
  width: 552px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 137px;
  max-width: 100%;
}
.desktop-1,
.slogan {
  border-radius: var(--br-21xl);
}
.slogan {
  position: absolute;
  top: 0;
  left: 360px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-100);
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 254px 181px var(--padding-113xl) 310px;
  box-sizing: border-box;
  gap: 204px;
  max-width: 100%;
  text-align: left;
  font-size: var(--m3-label-large-size);
  color: var(--schemes-shadow);
  font-family: var(--m3-label-large);
}
.desktop-1 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--schemes-on-primary);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 939px) {
  .extended-fab-container {
    flex-wrap: wrap;
  }
  .desktop-1 {
    height: auto;
    min-height: 1024;
  }
}
