.keyboard-return-icon {
  width: 44px;
  height: 49px;
  position: relative;
  cursor: pointer;
}
.predicted-output,
.predicted-output-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.predicted-output {
  width: 769px;
  position: relative;
  line-height: 52px;
  align-items: center;
  flex-shrink: 0;
}
.predicted-output-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 21px 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-child {
  align-self: stretch;
  height: 800px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--grays-gray-5);
  overflow: hidden;
  flex-shrink: 0;
}
.desktop-2,
.desktop-2-inner,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: 42px;
  max-width: 100%;
  text-align: center;
  font-size: var(--m3-display-medium-size);
  color: var(--color-black);
  font-family: var(--m3-display-medium);
}
.desktop-2,
.desktop-2-inner {
  box-sizing: border-box;
}
.desktop-2-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 22px;
  max-width: 100%;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: var(--schemes-on-primary);
  overflow: hidden;
  flex-direction: column;
  padding: 18px 36px 63px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .predicted-output {
    font-size: 36px;
    line-height: 42px;
  }
}
@media screen and (max-width: 675px) {
  .frame-parent {
    gap: 21px;
  }
}
@media screen and (max-width: 450px) {
  .predicted-output {
    font-size: 27px;
    line-height: 31px;
  }
}
